@media (max-width:300px){

.produtos{

    background-color: #101010;
    padding-top: 30%;

}

h2{

    text-align: center;

}

}


@media (min-width:301px) and (max-width: 720px) {

    .produtos{

        background-color: #101010;
        padding-top: 20%;

    }

    h2{

        text-align: center;

    }
    
}


@media (min-width:721px) and (max-width: 1200px) {

    .produtos{

        background-color: #101010;
        padding-top: 10%;

    }

    h2{

        text-align: center;

    }

}

@media (min-width:1201px) and (max-width: 1487px) {

    .produtos{

        background-color: #101010;

    }

    h2{

        text-align: center;

    }


}

@media (min-width:1488px){

    .produtos{

        background-color: #101010;

    }

    h2{

        text-align: center;

    }

}
